packages:
  yum:
    ImageMagick : ""
    bison       : ""                    
    byacc : ""
    cscope: ""
    ctags: ""
    cvs: ""
    diffstat: ""
    doxygen: ""
    flex: ""
    gcc: ""
    gcc-c++: ""
    gcc-gfortran: ""
    gettext: ""
    git: ""
    indent: ""
    intltool: ""
    libtool: ""
    patch: ""
    patchutils: ""
    rcs: ""
    rpm-build: ""
    subversion: ""
    swig: ""
    systemtap: ""
    openssl-devel: ""
    ImageMagick-c++: "" 
    ImageMagick-c++-devel: ""
    crash: ""
    kexec-tools: ""
    latrace: ""
    ltrace: ""
    strace: ""
    system-rpm-config: ""
    texinfo: ""
    valgrind: ""
    busybox: ""
